#about{
    background-image: url("../img/wave.svg");
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size:auto 100px;
}
#about .btn-outline{
    margin-bottom: 20px;
}
hr.star-light:after,
hr.star-primary:after {
    content: "\f121";
}
header .intro-text .name {
    text-shadow: 1px 1px 1px #{{ site.color.secondary }};
}
header .intro-text .skills {
    padding:10px;
    background: #{{ site.color.secondary }};
}  

.modal-body .btn-outline{
	color:#{{ site.color.primary }};
	border-color:#{{ site.color.primary }};
}
.modal-body .btn-outline:hover{
	background:#{{ site.color.secondary }};
	color:#fff;
	border-color:#{{ site.color.secondary }};
} 
.footer .footer-above {
    padding-top: 0 !important;
}

header {
    background: url('../img/river.jpg') no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover; 
}
.about__inner {
    padding: 0 20px;
}
.me-thumb {
    background: url('../img/me-river.jpg') no-repeat center center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 auto;
    border: 5px solid #233140;
    
}
header .intro-text .name {
    text-shadow: 0 0 0px #2c3e50;
}